body {
  /* background:grey; */
}

.wrapper {
  background: white;
  margin: 0 auto;
  max-width: 960px;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: space-around;
}
header ul li {
  margin: 0 0.1rem;
  padding: 0 1rem;
}

main {
  padding: 2rem;
}

@media only screen and (max-width: 480px) {
  main {
    padding: 1rem;
  }
  header ul {
    display: block;
  }
  header ul li {
    padding: 0.5rem 1rem;
  }
}

footer {
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}

.post-list h3 {
  margin-bottom: 0.25rem;
}

/* for the facade author's note */
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.posted-by-bg {
  display: inline-block;
  background: rgb(242, 242, 242);
  padding: 0.5rem;
  margin: 0.3rem 0;
}

/* recipe stuff */

.wprm-recipe-container {
  border: 1px solid grey;
  padding: 1rem;
  margin: 1rem;
}

.wprm-recipe-header {
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
}

a.wprm-recipe-jump {
  border: 1px solid grey;
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: inline-block;
}
